<div class="row m-0">

  <div class="col-12 naviComp">
    <div class="row">
      <div class="col-12 p-0">
        <div class="container">
          <app-navi></app-navi>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 routeComp">

      <div class="row">
        <router-outlet></router-outlet>
      </div>
  </div>

  <div class="col-12 footComp">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>

</div>




