
<div class="col-12">

<div class="container-fluid">
  <footer class="row mt-5 mb-5">
    <div class="col-12 col-md-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <a class="navbar-brand fotLogo" href="#"><strong >Find A Job</strong></a>
      </a>
    </div>



    <div class="col-12 col-md-3">
      <h6>Hakkımızda</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Hakkımızda</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Gizlilik Politikası   </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Üyelik Sözleşmesi</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <h6>Yardım</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Yardım Merkezi</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">İletişim</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <h6>Sosyal Medya</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Instagram</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Youtube</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Twitter</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fotItem">Facebook</a></li>
      </ul>
    </div>
  </footer>
</div>


</div>
